<span id="year" class="h2"><%= year %></span>
<a href="#" id="play"
 class="<% if (running) { %>running<% } else { %>stopped<% } %>">
  <% if (running) { %>
  Arrêter
  <% } else { %>
  Démarrer
  <% } %>
</a>