/* Layout */

html, body { height: 100%; margin: 0; padding: 0;}

#panel {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  padding: 10px;
  -webkit-box-shadow: -5px 4px 18px -7px black;
  -moz-box-shadow: -5px 4px 18px -7px black;
  box-shadow: -5px 4px 18px -7px black;
  z-index: 5;
}

#map-canvas {
  position: relative;
  top: 220px;
}

/* Typography */

h1, h2, p, #year {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.2em;
}

h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.title {
  margin-bottom: 1.5em;
}

.left, .right {
  float: left;
  width: 48%;
  margin: 0 1%;
}

.control {
  clear: both;
  margin: 1%;
  padding-top: 1%;
}

#year {
  font-size: 2em;
  font-weight: bold;
  width: 2em;
  float: left;
}

#slider {
  width: 88%;
  float: right;
  margin-top: 15px;
  margin-right: 2%;
}

#clock {
  width: 8%;
  float: left;
  margin-top: 0.5em;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
  color: blue;
}

.info-window h1, .info-window h2 {
  text-align: left;
}

a#play {
  width: 2em;
  height: 2em;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin-left: 1em;
}

a#play.stopped {
  background: url('../images/play.png');
  background-image: url('../images/play.svg'), none;
}

a#play.running {
  background: url('../images/pause.png');
  background: url('../images/pause.svg'), none;
}